/* ! Main */

body {
  background: white;
}

.logo img {
  height: 75px;
}

.container {
  margin-top: 130px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 30px;
}

.card img {
  height: 200px;
  max-height: 200px;
  object-fit: cover;
}
